--extra-index-url https://repos.knox.cs.aau.dk/
requests===2.26.0
numpy===1.21.2
beautifulsoup4===4.10.0
pdfminer===20191125
PyMuPDF===1.18.19
opencv-python==4.5.3.56
ghostscript===0.7
torch
torchvision
torchaudio
knox-source-data-io==0.0.13.1
psutil
jsonschema