--extra-index-url https://repos.knox.cs.aau.dk/
--extra-index-url https://download.pytorch.org/whl/torch_stable.html
requests===2.26.0
numpy===1.21.2
beautifulsoup4===4.10.0
pdfminer===20191125
PyMuPDF===1.18.19
opencv-python==4.5.3.56
ghostscript===0.7
torch==1.9.1+cu102
torchvision==0.10.1+cu102
torchaudio===0.9.1
knox-source-data-io
tqdm===4.62.3